.sample h1 {
    font-family: var(--header-font);
}

blockquote {
    border: 1px solid grey;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    width: 50%;
}

.sample img {
    zoom: 50%;
}