.crum {
    display: flex;
    flex-direction: column;
}

.crumHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.crumHeader p {
    color: white;
}

.crumHeader button {
    margin: 2% 0;  
    font-family: var(--header-font);
    font-weight: 800;
    width: 100px;
    background-color: black;
    color: white;
    font-size: 1em;
    padding: 14px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.editForm {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5%;
}

.inputs {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.editForm label {
    display: block;
    font-size: 24px;
    text-align: right;
    font-weight: 400;
    width: 200px;
}

.editForm input {
    margin: 0 0 0 1%;
    width: 500px;
    height: 30px;
    border-radius: 10px;
}