.crum {
    display: flex;
    flex-direction: column;
    .crumHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    a {
        padding: 20px;
        text-decoration: none;
    }
    p {
    color: white;
    }
    }
   
}

.editForm {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 5%;
    width: 60%;
    .inputs {
        display: flex;
        flex-direction: row;
        padding: 1%;
    }
    label {
        display: block;
        font-size: 24px;
        text-align: right;
        font-weight: 400;
        width: 250px;
    }
    input {
        margin: 0 0 0 1%;
        width: 500px;
        height: 30px;
        border-radius: 10px;
    }
    } 